background{
} 
p{ Font-family: Courier New;
	font-weight: bold;
}
#dispText{
	Font-family: Courier New;
	font-weight: bold;
}
h2{ Font-family: Courier New;
	font-weight: bold;
}
header{ Font-family: Courier New;
	font-weight: bold;
}
canvas{
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
}
/*top is 9%*/
body{
    width:510px;
    height:500px;
    margin-left:100px;
    margin-top:  40px;
}
#container1{
    height: 80%;
    width: 500px;
    overflow: hidden;
}
#dispText{
    position:absolute;
    top:503px;
}
#console{
    height: 100%;
    width: 500px;
    overflow: auto;
    padding-right: 21px;
}
html{
    overflow: hidden;
    background-image: url('http://hydra-media.cursecdn.com/fallout.gamepedia.com/9/92/Gterminal.png');
    background-repeat: no-repeat;
    background-size: cover;
}
head,body{
    overflow: hidden;
}
